body{
	--color-black: #000000; /* constant of black */
	--color-blueEyes: #C9E1F1; /* baby blue eyes */
	--color-grey: #E3E3E3; /* grey */
	--color-lbBlue: #6DAEDB; /* little boy blue */
	--color-white: #ffffff; /* white */
	font-size: 16px;
}

.page-constant {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
	position: relative;
}

.container1,
.container2,
.container3{

}

.container1,
.container2{
	height: 100vh;
}

.container3{
	height: 50vh;
	background-color: var(--color-blueEyes);
}

.footer{
	height: 35vh;
	background-color: var(--color-blueEyes);
}

.header{
	height: 15vh;
	background-color: var(--color-lbBlue);
}

.iconSize{
	height: 10vh;
}

.landingPage{
	height: 100vh;
	position: relative;
}

.page2,
.page3,
.page4{
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
}

.landingPage{
	background-image: url(img/landing.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.myPhoto{
	max-height: 25vh;
	margin-top: 5vh;
}

.logo{
	height: 12vh;
}

img.mockImg{
	height: 60%;
	padding: 10%;
}

.nav{
	margin-top: auto;
	text-align: right;
}

.page2Background{
	background-image: url(img/illustrations.png);
	opacity: 0.6;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
	position: relative;
}

.page3Background{
	background-image: url(img/designs.png);
	opacity: 0.6;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
	position: relative;
}

.page4Background{
	background-image: url(img/projects.png);
	opacity: 0.6;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
	position: relative;
}

.wrapper{
	position: relative;
}


@media screen and (max-width: 6000px) {
	h1.bigScreen{
		font-size: 4rem;	
	}

	h1.smallScreen{
		font-size: 0;	
	}

	.fab{
		margin-right: 4.5vw;
	}
}

@media screen and (max-width: 1200px) {
	.fab{
		margin-right: 2.3vw;
	}
}

@media screen and (max-width: 992px) {
	.fab{
		margin-right: 1vw;
	}

	.fas:before,
	.fab:before{
		font-size: 65px;
	}
}

@media screen and (max-width: 768px) {
	h1.bigScreen{
		font-size: 0;	
	}

	h1.smallScreen{
		font-size: 3rem;
	}

	.socialLinks{
		display: inline;
	}

	.fab{
		margin-right: 3vw;
	}

	.fas:before,
	.fab:before{
		font-size: 55px;
	}

	p.contact-par{
		display: none;
	}

	.myPhoto{
		display: none;
	}

	.text-left:before{
		text-align: center;
	}
}
